*{
    margin: 0px;
    padding: 0px;
	
}
.container{
     max-width: 1280px;
     margin: 0px auto;
}
#header{
	background-color: black;
	color: #ffff;
}
#logo{
    width: 60%;
	float: left;
	padding-left: 130px;
	padding-top: 32px;
	box-sizing: border-box;
	padding-bottom: 20px;
}
#nav-container ul li{
	list-style:none;	
	color:black;
	float: left;
	margin-right: 17px;
    margin-top: 50px;
}
#nav-container ul li a{
	color: #000000;
	text-decoration: none;
	color: #000000;;
	font-weight: 200;
    margin-top: 50px;
}
#nav-container ul li a:hover{
	color: #fd0606;
	text-decoration: underline;
	background-color: white;
}
#login{
	width: 300px;
	padding: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	padding-bottom: 20px;
	transform: translate(-50% ,-50%);
	text-align: center;
}
#login input{
	height: 29px;
}
.working{
	text-align: center;
	border-radius: 14px;
	border: none;
}
.work{
	width: 66px;
	background-color: black;
	color: white;
	margin-bottom: 50px;
    border: none;
}
main{
    box-shadow: 4px 4px 8px -4px #313030;
}