*{
    margin: 0px;
    padding: 0px;
	
}
html{
	font-family:sans-serif;
}
.container{
     max-width: 1280px;
     margin: 0px auto;
}
#header{
	background-color: black;
	color: #ffff;
}
#logo img{
	background-color: white;
	 
}
#logo{
    width: 60%;
	float: left;
	background-color: white;
	padding-left: 130px;
	padding-top: 32px;
	box-sizing: border-box;
	padding-bottom: 20px;
}
#nav-container ul li{
	list-style:none;	
	color:black;
	float: left;
	margin-right: 17px;
    margin-top: 50px;
}
#nav-container ul li a{
	color: #000000;
	text-decoration: none;
	color: #000000;;
	font-weight: 200;
    margin-top: 50px;
}
#nav-container ul li a:hover{
	color: #808080;
	text-decoration: underline;
	background-color: white;
}
section /*h1*/{
    margin-left: 100px;
	width: 100%;
}
h1{
	font-size: 2rem;
}
input{
	padding: 0px 20px;
	width: 100%;
	height: 50px;
	border-radius: 5px;
	border-style: dashed;
}
textarea{
	padding: 10px 20px;
	width: 100%;
	border: solid #808080;
	border-radius: 5px;
	height: 50px;
}
textarea:hover{
	box-shadow: 2px 1px 3px 4px #007bff;
	border: none;
}
input:hover{
	box-shadow: 2px 1px 3px 4px #007bff;
	border: none;
}
button{
	background-color:  #ff9797;
	padding: 9px 40px;
	border-radius: 17px ;
	cursor: pointer;
	border: none;
}
button:active{
	cursor: progress;
}
button:hover{
	background-color: rgb(221, 120, 120);
}
footer{
	background-color: black;
	color: beige;
	text-align: center;
	margin-top: 20px;
	padding-bottom: 10px;
}
